@model TaskManagementSystem.Models.EntityModels.JobAd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobAd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
