@model IEnumerable<TaskManagementSystem.Models.ViewModels.AllCommentsVm>
@{
    ViewBag.Title = "All";
}

<h2>All</h2>
<a href="/comments/add" class="btn btn-default">Add Comment</a>
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>Comment Description</th>
        <th>Comment Type</th>
        <th>Date Added</th>
        <th>Reminder Date</th>
        <th>Task Description</th>
        <th>Modify</th>
    </tr>
    @foreach (var comment in Model)
    {
        <tr>
            <td>@comment.CommentDescription</td>
            <td>@comment.CommentType</td>
            <td>@comment.DateAdded</td>
            <td>@comment.ReminderDate</td>
            <td>@comment.TaskDescription</td>
            <td>
                <a href="/comments/edit/@comment.Id" class="btn btn-success">Edit</a>
                <a href="/comments/delete/@comment.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    }
</table>

